<div class="row">

    <div class="col-sm-12">
        <div class="well">

            <!-- If there's a user to show -->
            <container ng-show="user.username" class="row">
                <div ng-hide="photoMode" id="facelapse_container" class="col-sm-6">
                    <img class="slideshow" slideshow images="user.pics">
                </div>
                <!-- This is the current user -->
                <div ng-show="photoMode" class="col-sm-6 center-block text-center">
                    <div id="video_container" ng-hide="viewingPhoto">
                        <video id="video" width="100%">Video stream not available.</video>
                        <span id="startbutton" class="glyphicon glyphicon-camera camera_btn" aria-hidden="true"></span>
                    </div>

                    <div id="camera_photo_container" ng-show="viewingPhoto">
                        <span id="cancelpicture" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <img id="camera_photo" alt="">
                        <span id="uploadphoto" ng-click="uploadPhoto()" class="glyphicon glyphicon-ok camera_btn" aria-hidden="true"></span>
                    </div>

                    <p id="status">Take a photo and save it.</p>

                    <canvas id="canvas">
                    </canvas>
                </div>

                <div id="user" class="col-sm-6">
                    <img class="col-sm-2 profile_thumbnail" src="{{basePhotoUrl}}{{user.pics[user.pics.length-1].filename}}">

                    <h2 class="col-sm-3">{{user.username}}</h2>

                    <div id="user_info" class="col-sm-4 pull-right text-right">
                        <p>{{user.pics.length}} Photos</p>
                        <button ng-click="follow()" ng-show="isLoggedIn && !isCurrentProfile && !isFollowing" class="btn btn-success btn_follow">Follow</button>
                        <button ng-click="unfollow()" ng-show="isLoggedIn && !isCurrentProfile && isFollowing" class="btn btn-default btn_follow">Unfollow</button>
                        <button ng-click="showCamera()" ng-show="isLoggedIn && isCurrentProfile && !photoMode" class="btn btn-success">Take Picture</button>
                        <button ng-click="hideCamera()" ng-show="isLoggedIn && isCurrentProfile && photoMode" class="btn btn-success">Close Camera</button>
                    </div>
                </div>
            </container>


            <container ng-show="errorMessage">
                <p>{{errorMessage}}</p>
            </container>
        </div>
    </div>
</div>
