
/************************************************************************
**************************     NAVIGATION
************************************************************************/

/* Large devices (desktops, 900px and up) */
@media (min-width: 900px) { #nav-search { width: 300px; } }

body {
    padding-top: 50px;
    background: #edeeef url("//instagramstatic-a.akamaihd.net/bluebar/9ba8070/images/shared/noise-2.png");
    font-weight: 200;
}

a {
    color: #31b47d;
}

.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}

.navbar-default {
    background-image: url("//instagramstatic-a.akamaihd.net/bluebar/9ba8070/images/shared/noise-2.png"),-webkit-linear-gradient(top,#59bb92,#31b47d);
}

.form-control:focus {
    border-color: #31b47d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(49, 180, 125, 1);
}

/************************************************************************
**************************     FEED
************************************************************************/

.feed_item {
    max-width: 650px;
    padding: 25px;
    /*background-color:pink;*/
    background: #e0e1e2 url("//instagramstatic-a.akamaihd.net/bluebar/9ba8070/images/shared/noise-2.png");
    border: 1px solid rgba(0,0,0,.1);
    border-width: 0 1px;
}

.feed_card {
    background: #fafafa;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 0 1px 16px rgba(0,0,0,.1);
    text-align: left;
}

.photo_container {
    /*background-color: #00b3ee;*/
}

.slideshow {
    width:100%;
    background: #fafafa;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 0 1px 16px rgba(0,0,0,.1);
}

.facelapse_details {
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    position: relative;
    height: 40px;
    border-bottom: 1px solid #ddd;
    margin: 1px 0 -1px;
    background: #e6e6e6 url("//instagramstatic-a.akamaihd.net/bluebar/9ba8070/images/bg/white-gradient-100px.png") repeat-x 50% 50%;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.15),0 0 3px rgba(0,0,0,.1);

    line-height: 16px;
    /*margin: 0 52px 0 48px;*/
    padding: 12px 12px 12px 12px;

    margin-bottom:12px;
}

.inline {
    display: inline-block;
}

.like_btn {
    font-size: 20px;
    color: gray;
    /*cursor:pointer;*/
    /* TODO: PUT IN LIKE BTN ONCE ITS IMPLEMENTED */
    padding-left:0;
    line-height: 13px;
}

/* color of the button when they're being followed */
.followed {
    color: #31b47d;
}

.followers {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left:10px;
}

.comment_section {
    margin-top: 8px;
    padding-left: 15px;
}

.more_comments {
    padding-left: 15px;
    color: gray;
    cursor: pointer;
}

.comment_input_container {
    padding: 12px;
}


/************************************************************************
**************************     PROFILE
************************************************************************/

.profile_thumbnail {
    width:110px;
    background: #fafafa;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 0 1px 16px rgba(0,0,0,.1);
    padding:0;
}

.placeholder_img {
    background-image: url('https://selfieaday.s3.amazonaws.com/blank');
    max-width: 100%;
    height: auto;
}

#facelapse_container {
    padding:0;
}

#video_container {
    overflow:hidden;
    padding:0;
}

.btn_follow {
    width: 100px;
}

#camera_photo {
    max-width: 100%;
    height: auto;
}

#canvas {
    display:none;
}

.glyphicon.glyphicon-remove {
    font-size: 20px;
    color: white;
    cursor:pointer;
}

#cancelpicture {
    position: absolute;
    top: 15px;
    right: 25px;
}

.glyphicon.camera_btn {
    font-size: 50px;
    color: white;
    cursor:pointer;
}

#startbutton, #uploadphoto {
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

#uploadphoto {
    top: -75px;
    margin-bottom:-45px;
}

#startbutton {
    top: -70px;
    margin-bottom:-50px;
}