
/************************************************************************
**************************     NAVIGATION
************************************************************************/

/* Large devices (desktops, 900px and up) */
@media (min-width: 900px) { #nav-search { width: 300px; } }

/************************************************************************
**************************     FEED
************************************************************************/

.feed_item {
    max-width: 690px;
    padding: 25px;
    background-color:pink;
}

.photo_container {
    background-color: #00b3ee;
}

.slideshow {
    width:100%;
}


/************************************************************************
**************************     PROFILE
************************************************************************/

#profile_photo {
    width:110px;
}

#facelapse_container {
    padding:0;
}

#video_container {
    /*max-width: 640px;*/
    overflow:hidden;
    padding:0;
    /*display:block;*/
    /*height: 360px;*/
}

.btn_follow {
    width: 100px;
}

#video {
}

#camera_photo {
    max-width: 100%;
    height: auto;
}

#canvas {
    display:none;
}


#startbutton {
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

#uploadphoto {
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

#cancelPicture {
    margin:5px;
}

.glyphicon.glyphicon-remove {
    font-size: 20px;
    color: white;
}
