
/************************************************************************
**************************     NAVIGATION
************************************************************************/

/* Large devices (desktops, 900px and up) */
@media (min-width: 900px) { #nav-search { width: 300px; } }

/************************************************************************
**************************     FEED
************************************************************************/

.feed_item {
    width: 690px;
    /*height: 550px;*/
    padding: 25px;
    background-color:pink;
}

.photo_container {
    /*height: 640px;*/
    /*width: 640px;*/
    /*background-color: #00b3ee;*/
}

.slideshow {
    /*width: 640px;*/
    max-width:100%;
    max-height:100%;
}


/************************************************************************
**************************     PROFILE
************************************************************************/

#profile_photo {
    width:110px;
}

.btn-follow {
    width: 100px;
}

#video {
    /*border: 1px solid black;*/
    /*box-shadow: 2px 2px 3px black;*/
}

#photo {
    /*border: 1px solid black;*/
    /*box-shadow: 2px 2px 3px black;*/
}

#canvas {
    display:none;
}


#startbutton {
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

#uploadphoto {
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

#cancelPicture {
    margin:5px;
}

.glyphicon.glyphicon-remove {
    font-size: 20px;
    color: white;
}
